main{
  .gallery-area{
    .single-gallery{
      .gallery1{
        background-image: url('../img/gallery/gallery1.png');
      }
      .gallery2{
        background-image: url('../img/gallery/gallery2.png');
      }
      .gallery3{
        background-image: url('../img/gallery/gallery3.png');
      }
      .gallery4{
        background-image: url('../img/gallery/gallery4.png');
      }
    }
  }
}
